.alunos {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.alunos li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: cyan;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

button {
    font-family: Arial;
    background-color: #green;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

button:hover {
    background-color: #cfd8dc;
}

.btn-toggle {
    top: 10px;
    margin: 0.5rem;
    padding: 0;
    position: relative;
    border: none;
    height: 2rem;
    line-height: 2rem;
    border-radius: 1.5rem;
    width: 5rem;
    outline: none;
    background: #7C8288;
}

.btn-toggle:before,
.btn-toggle:after {
    width: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
    color: #fff;
    letter-spacing: 0.75px;
    left: 0.4125rem;
    width: 4.25rem;
}

.btn-toggle:before {
    content: "No";
    text-align: right;
}

.btn-toggle:after {
    content: "Yes";
    text-align: left;
    opacity: 0;
}

.btn-toggle>.handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.625rem;
    height: 1.625rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left 0.25s;
}

.btn-toggle.active>.handle {
    left: 3.2rem;
    transition: left 0.25s;
}

.btn-toggle.active {
    transition: background-color 0.25s;
    background-color: #1565C1;
}

.btn-toggle.active:before {
    opacity: 0;
}

.btn-toggle.active:after {
    opacity: 1;
}